/* src/index.css */
body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  overflow-y: auto;
  transition: margin-left 0.3s ease-in-out;
}
/* Tema claro */
:root {
  --color-main-100: #4747eb;
  --color-main-150: #313149;
  --color-main-200: #2e2eb8;
  --color-main-300: #262673;
  --color-background-000: #f5f5f5;
  --color-background-100: #ffffff;
  --color-background-200: #c9baba;
  --color-background-300: #988686;
  --color-border-100: #e8e3e3;
  --color-border-200: #cfc9c9;
  --color-text-100: #212131;
  --color-text-200: #4d4d6a;
  --color-text-300: #7b7b8e;
  --color-background-400: #635454;
}

/* Tema oscuro */
:root.dark {
  --color-main-100: #2e2eb8;
  --color-main-150: #262673;
  --color-main-200: #4747eb;
  --color-main-300: #313149;
  --color-background-000: #202124;
  --color-background-100: #3c4043;
  --color-background-200: #4d4d6a;
  --color-background-300: #635454;
  --color-border-100: #4747eb;
  --color-border-200: #313149;
  --color-text-100: #ffffff;
  --color-text-200: #e8e3e3;
  --color-text-300: #cfc9c9;
  --color-background-400: #121213;
}
